# File I/O and Sentiment Data Aggregation
## TaeYoung Kang (minvv23@gmail.com)

In [46]:
import sys
import glob
import os
import re
import pickle
import numpy as np
import pandas as pd

In [98]:
# ISKCON Data
iskcondata = pd.read_excel('ISKCON_data.xlsx', sheet_name='duplicates_removed')
iskcondata.columns = map(lambda x : '_'.join(x.lower().split()), iskcondata.columns)
print('Original label names are', set(iskcondata['review_type']))

iskcondata['label'] = iskcondata['review_type'].replace({'POSITIVE':1, 'NEGATIVE':-1, 'MIXED':0, 'NEUTRAL':0})
print('Edited label names are', set(iskcondata['label']), '\n')

print('The Final ISKON data format would be...')
iskcondata = iskcondata[['text', 'label']]
iskcondata.head(5)

Original label names are {'POSITIVE', 'NEGATIVE', 'MIXED', 'NEUTRAL'}
Edited label names are {0, 1, -1}

The Final ISKON data format would be...

                                                text  label
0  This reativly new temple was a big hindu versi...     -1
1  Me and my friends enjoyed a lot in ISKCON temp...      1
2  Otherworldly vibrations throuout the sanctuary...      1
3  ISKCON temple is very good, located in west of...      1
4  This is a very good place to be for all the de...      1

In [97]:
# Twitter Sentiment Data
tweet_negative = np.vectorize(lambda x : ' '.join(x.split()))(pd.read_csv('./other_sentiment_dataset/twittertweets_processedNegative.csv').columns.to_series())
tweet_neutral = np.vectorize(lambda x : ' '.join(x.split()))(pd.read_csv('./other_sentiment_dataset/twittertweets_processedNeutral.csv').columns.to_series())
tweet_positive = np.vectorize(lambda x : ' '.join(x.split()))(pd.read_csv('./other_sentiment_dataset/twittertweets_processedPositive.csv').columns.to_series())
twitterdata = pd.DataFrame(zip(np.concatenate((tweet_negative, tweet_neutral, tweet_positive)),
                                 np.concatenate((np.repeat(-1, len(tweet_negative)),
                                                 np.repeat(0, len(tweet_neutral)),
                                                 np.repeat(1, len(tweet_positive))))),
                            columns = ['text', 'label'])
twitterdata.head(5)

                                                text  label
0               How unhappy some dogs like it though     -1
1  talking to my over driver about where I'm goin...     -1
2  Does anybody know if the Rand's likely to fall...     -1
3          I miss going to gigs in Liverpool unhappy     -1
4       There isnt a new Riverdale tonight ? unhappy     -1

In [102]:
airlinedata = pd.read_csv('./other_sentiment_dataset/twitter_airline_sentiment_tweets.csv')